body {
  font-family: 'Arial', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cabecalho h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

.cabecalho a {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.modo {
  float: right;
}

.modo h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.modo p {
  font-size: 16px;
  color: #666666;
}

.modo a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.luzes {
  margin-bottom: 20px;
}

.luzes h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.luzes p {
  font-size: 16px;
  color: #666666;
}

.luzes a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.info {
  display: flex;
}

.temperatura, .umidade {
  flex: 1;
  padding-right: 20px;
}

.temperatura h2, .umidade h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.temperatura h3, .umidade h3 {
  font-size: 16px;
  color: #666666;
}

.temperatura a, .umidade a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
